<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
      <div class="header-img">
        <img src="img/half-orc-character-tips.png" alt="header-logo" />
      </div>
    </header>

    <div id="game">
      <!-- Monster -->
      <section id="monster" class="container character">
        <div class="stats">
          <h2>Monster Health</h2>

          <div class="healthbar">
            <div class="healthbar__value" :style="monsterHealthBarStyles"></div>
          </div>
        </div>

        <div class="character-logo">
          <img :src="monsterAvatar" alt="monster-profile" />
        </div>
      </section>

      <!-- Player -->
      <section id="player" class="container character">
        <div class="stats">
          <h2>Slayer Health</h2>

          <div class="healthbar">
            <div class="healthbar__value" :style="playerHealthBarStyles"></div>
          </div>
        </div>

        <div class="character-logo">
          <img :src="playerAvatar" alt="player-profile" />
        </div>
      </section>

      <!-- Win Conditions -->
      <section class="container" v-if="winner">
        <h2>Game Over</h2>
        <h3 v-if="winner === 'player'">You won!</h3>
        <h3 v-else-if="winner === 'monster'">You lost!</h3>
        <h3 v-else>It's a draw</h3>
        <button @click="startGame">Start Game</button>
      </section>

      <!-- Controls -->
      <section id="controls" v-else>
        <div class="active-controls">
          <button @click="attackMonster">ATTACK</button>
          <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">SPECIAL ATTACK</button>
        </div>

        <div class="passive-controls">
          <button @click="healPlayer">HEAL</button>
          <button @click="surrender">SURRENDER</button>
        </div>
      </section>

      <!-- Battle Log -->
      <section id="log" class="container">
        <button @click="toggleBattleLog">{{ isBattleLogVisible ? 'Hide' : 'Show' }} battle log</button>
        <div v-if="isBattleLogVisible">
          <h2>Battle Log</h2>
          <ul>
            <li v-for="logMessage in logMessageList">
              {{ (new Date()).toLocaleTimeString() }}:
              <span :class="getActionByClass(logMessage.actionBy)"> {{ logMessage.actionBy }} has </span>
              <span :class="getActionTypeClass(logMessage.actionType)"> {{ getActionTypeMsg(logMessage.actionType) }} </span>
              <span> {{ logMessage.actionValue }} {{ getActionValueMsg(logMessage.actionType) }}</span>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
